name: build-md

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          persist-credentials: false

      - uses: actions/setup-node@v4
        with:
          node-version: 20

      - run: npm ci

      - run: node buildstep.js

      - name: commit build
        uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: "build: regenerar html + index.json"
          branch: main
          file_pattern: docs/**
          commit_user_name: github-actions[bot]
          commit_user_email: 41898282+github-actions[bot]@users.noreply.github.com
          repository: ${{ github.repository }}
          token: ${{ secrets.GITHUB_TOKEN }}
